# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
local_settings.py

# Media (Imágenes subidas por usuarios y QRs)
media/
Gimnasio/Clientes/media/

# Static (solo si usas collectstatic)
staticfiles/