# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
local_settings.py

# Media (Imágenes subidas por usuarios y QRs)
media/
Gimnasio/Clientes/media/

# Static (solo si usas collectstatic)
staticfiles/

run.py

# Ignorar archivos de migración, pero mantener el módulo (__init__.py)
**/migrations/*.py
!**/migrations/__init__.py

# Archivos de sistema y entorno (recomendado)
.DS_Store
.env
venv/
.idea/
.vscode/